{% extends 'base.html' %}

{% block content %}
    <img src="{{ profile.avatar.url }}" alt="Avatar" />

    <h1>{{ user.username }}'s Profile</h1>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Location: {{ profile.location }}</p>
    <p>Birth Date: {{ profile.birth_date }}</p>
    <form action="{% url 'profile_edit' %}" method="post">
        {% csrf_token %}
        <button type="submit">Редактирование профиля</button>
    </form>
        {% if request.user != profile_user %}
        <!-- Только если это не мой профиль -->
    
            {% if chats_with_profile_user_exist %}
                <!-- Если чат с этим пользователем уже существует -->
                <p>Чат с {{ profile_user.username }} уже существует.</p>
            {% else %}
                <!-- Если чата с этим пользователем нет, показать кнопку для создания -->
                <form action="{% url 'create_chat' profile_user.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Создать чат</button>
                </form>
            {% endif %}
        {% endif %}
    


    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
{% endblock %}